*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:black
}
/* 
.navbar-nav{
  margin-left: 1100px;
} */

.navbar{
  display: flex;
  background-color: black;
  color:white;
  
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
}

.image{
  width:180px;
  height:180px;
  margin: 0 auto;
}

.main-page{
  padding-top: 45px;
}

.grid-container-mycart{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 10px;
}

.right-div{
  width:300px;
  height:600px;
  border: 1px solid green;
}
.other{
  display: flex;
  justify-content: space-evenly;
}

.other a{
  margin-right: 40px;
  color:white;
}